* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.upload-button,
.download-button {
    background-color: silver;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover,
.download-button:hover {
    background-color: #ccc;
}

.upload-submit {
    display: none;
}