body {
    background-color: #27282A;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin-top: 50px;
}

.box {
    background-color: #38393C;
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    min-width: 200px; /* 최소 너비 설정 */
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: width 0.2s ease;
}

.resizer {
    width: 10px;
    background-color: #555;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: -5px; /* 박스의 오른쪽 경계에 위치 */
    height: 100%;
}