body {
    background-color: #27282A;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: auto 0;
    padding: 40px 0; /* 상단, 하단 마진 */
}

.box {
    background-color: #38393C;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: width 0.2s ease;
    margin: 0 10px;
}

.left-box,
.right-box {
    width: 20%; /* 기본 너비 설정 */
    min-width: 200px;
}

.middle-box {
    width: 40%; /* 좌우 박스의 두 배 */
    min-width: 300px;
}

.resizer {
    width: 10px;
    background-color: #555;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.resizer-left {
    left: -5px;
}

.resizer-right {
    right: -5px;
}